.DS_Store
*.log

# Inventory
inventory/*
!inventory/default

# Addons
addons/*
!addons/readme.txt

# Roles and more..
roles/fmw/files/*.jar
roles/jdk/files/*.tar.gz
roles/managed/files/*.jks
roles/update/ssl/files/*.jks
roles/deploy/files/*.war
roles/deploy/files/*.ear